.clearfix() {
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

.btn(@height: 24px) {
  display: inline-block;
  box-sizing: border-box;
  padding:  0 @height/2;
  border: none;
  border-radius: 5px;

  font-size: 11px;
  line-height: @height;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  color: white;
  background-color: @pink;
}

// .container-fluid {
//   width: auto;
//
//   @media @md {
//     width: 84%; /* 640/768 */
//     max-width: 1200px;
//     margin: 0 auto;
//   }
//
// }
