@text-gray: #959595;
@lightgreen: #82ca9c;
@pink: #bd8cbf;
@footer-bg: #192431;

@sm: ~"(min-width: 576px)";
@md: ~"(min-width: 768px)";
@lg: ~"(min-width: 992px)";
@xl: ~"(min-width: 1200px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
