.box {
  min-height: 200px;
  padding: 47px 43px;

  h3 {
    margin-top: 0;
    margin-bottom: 25px;

    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    color: white;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 450px;
    min-height: 100px;

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: white;
  }

  a:hover {
    text-decoration: none;
  }

  b {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: white;
  }

  &--small {

  }

  &--large {

  }

  &--design-quality {
    background-color: #f5989d;
  }

  &--start-something {
    background: url("../img/start-something.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--how-to {
    background-color: #bd8cbf;
  }

  &--sign-up {
    background: url("../img/sign-up.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--perfect-pictures {
    background-color: #82ca9c;

  }

  &--clients {
    background: url("../img/clients.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--built {
    background-color: #615f7d;
  }

}

.box__arrow {
  background-image: url("../img/arrow.png");
}

.box__heart {
  min-height: 18px;

  background-image: url("../img/arrow.png");
}

@media @sm {

  .box--clients {
    background-position: 80% center;
  }

}

@media @md {

  .box--clients {
    background-position: 60% center;
  }

}
