.description {
  padding-top: 40px;
  padding-bottom: 50px;
}

.description__first-part {

  h2 {
    margin-top: 0;
    margin-bottom: 45px;

    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;

    text-align: center;

    color: #222626;
  }
}

.description__first-part,
.description__second-part {

  p {
    display: none;
    margin-top: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: @text-gray;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

@media @sm {

  .description {
    padding-top: 70px;
    padding-bottom: 50px;

    .container {
      position: relative;
    }
  }

  .description__first-part {
    padding-top: 60px;

    h2 {
      position: absolute;

      top: 0;
      left: 15px;

      min-width: 500px;

      text-align: left;
    }

    p:nth-of-type(-n+2) {
      display: block;
    }
  }

}

@media @md {

  .description {
    padding-top: 70px;
    padding-bottom: 70px;

    .container {
      position: static;
    }
  }

  .description__first-part {
    padding-top: 0px;

    h2 {
      position: static;

      top: 0;
      left: 15px;

      min-width: none;
      margin-bottom: 30px;
    }

    p {
      display: block;
    }
  }

}

@media @lg {

  .description {
    padding-top: 100px;
    padding-bottom: 80px;

    h2, p {
      margin-top: 0;
    }
  }

  .description__first-part,
  .description__second-part {
    p {
      display: block;
    }
  }

  .description__first-part {
    padding-left: 0;
  }

  .description__second-part {
    padding-right: 0;
    padding-top: 185px;
  }
}

@media @xl {

  .description__second-part {
    padding-top: 165px;
  }

}
