.options {
  min-height: 874px;
  padding-top: 445px;

  color: white;
  background-image: url("../img/bg-car.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
