.page-header {
  color: white;
  background: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  // background-attachment: fixed;
}

@media @xl {

  .page-header {
    min-height: 951px;
    padding-top: 55px;

    h1 {
      margin-top: 0;
    }

    p {
      margin: 0;
    }
  }

  .page-header__logo {
    margin-bottom: 345px;
  }

  .page-header__slogan {
    max-width: 450px;
  }
}
