.page-header {
  min-height: 400px;
  padding-top: 55px;

  color: white;
  background: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center -200px;
  // background-attachment: fixed;

  h1 {
    margin-top: 0;
  }

  p {
    margin: 0;
  }
}

.page-header__logo {
  margin-bottom: 100px;
  height: 41px;

  img {
    display: inline-block;
    position: relative;
    top: -4px;
  }

  b {
    display: inline-block;
    margin-left: 8px;

    font-family: 'Merriweather', serif;
    font-size: 21px;
    line-height: 41px;
    font-weight: 900;
    font-style: italic;
  }
}

.page-header__slogan {
  max-width: 450px;

  h1 {
    margin-bottom: 20px;

    font-family: 'Open Sans', serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
  }

  p {
    font-family: 'Open Sans', serif;
    font-size: 0;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: 444px) {

  .page-header__slogan {

    p {
      font-size: 13px;
    }
  }

}

@media @sm {

  .page-header{
    min-height: 600px;
  }

  .page-header__logo {
    margin-bottom: 200px;
  }

}

@media @lg {

  .page-header {
    min-height: 951px;

    background-position: top center;
  }

  .page-header__logo {
    margin-bottom: 345px;
  }

  .page-header__slogan {
    max-width: 450px;
  }
}
